.main__section {
  padding-top: 0;
}

.specialization {
  display: flex;
}

.specialization__image {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.specialization__third-title {
  color: var(--primery-bgr-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  bottom: 0;
}
